.hero-animation-product {
  .wrap {
    overflow:hidden;
  }
  
  #product-header-scroll-txt {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  
  @keyframes a {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  
  #product-header-scroll-txt span:first-child {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1);
    animation: a 2s cubic-bezier(.77, 0, .175, 1);
  }
  
  #product-header-scroll-txt span:nth-child(2) {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1) 35ms;
    animation: a 2s cubic-bezier(.77, 0, .175, 1) 30ms;
  }
  
  #product-header-scroll-txt span:nth-child(3) {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1) 70ms;
    animation: a 2s cubic-bezier(.77, 0, .175, 1) 60ms;
  }
  
  #product-header-scroll-txt span:nth-child(4) {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1) 105ms;
    animation: a 2s cubic-bezier(.77, 0, .175, 1) 90ms;
  }
  
  #product-header-scroll-txt span:nth-child(5) {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1) 140ms;
    animation: a 2s cubic-bezier(.77, 0, .175, 1) 120ms;
  }

  #product-header-scroll-txt span:nth-child(6) {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1) 175ms;
    animation: a 2s cubic-bezier(.77, 0, .175, 1) 150ms;
  }
  
  #product-header-scroll-txt span:last-child {
    -webkit-animation: a 2s cubic-bezier(.77, 0, .175, 1) 210ms;
    animation: a 2s cubic-bezier(.77, 0, .175, 1) 210ms;
  }
  
}