@use '../variables.scss';

.inline-number {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 12px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    background-color: variables.$pretty-pink;
}