@use "../variables.scss";

.page-section {
    .red-line {
        height: 4px;
        width: 100%;
        background-color: variables.$pretty-pink;
        position: relative;
        top: 14px;
    }
}