.project-hero {
    
    .py-48-154 {
        padding: 48px 0 154px;
    }

    .copy {
        padding-top: 32px;
    }
    
    // dynamically applied classes for images on project pages
    
    .mms {
        background-image: url('../../images/heroes/mms.png');
        position: absolute;
        width: 820px;
        height: 510px;
        left: 521px;
        top: 194px;
    }
    .coverage {
        background-image: url('../../images/heroes/laptop-2.jpg');
    }
    .bankrate {
        background-image: url('../../images/heroes/bankrate.png');
        position: absolute;
        width: 834px;
        height: 556px;
        left: 502px;
        top: 129px;
    }
    .wsj {
        background-image: url('../../images/heroes/wsj.png');
        position: absolute;
        width: 330px;
        height: 650px;
        left: 938px;
        top: 120px;   
    }
    .cnet {
        background-image: url('../../images/heroes/cnet.png');
        position: absolute;
        width: 970px;
        height: 815px;
        left: 350px;
        top: 23px;
    }
    
}