.project-hero {
    padding: 48px 0 154px;
}

.copy {
    padding-top: 32px;
}

.tags {
    margin-right: 24px;
}

.laptop-image {
    width: 708px;
    height: 533px;
    border-radius: 4px;
    background-image: url('../../images/heroes/laptop-2.jpg');
}

.arrow-logo {
    height: 48px;
    width: 48px;
    background: url('../../images/logos/arrow.png');
    background-size: contain;
    background-position: center;
}