@use '../variables';

.home {

    #rotation {
        height: 268px;
        width: 268px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../images/logos/rotation.png');
        animation: rotation 15s infinite linear;
    }

    // rotating NYC

    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }

    .rotation-text {
        position: absolute;
    }

    .home-arrow-margin {
        margin: 78px 0 194px;
    }

    // custom UL

    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    .star-li {
        width: 26px;
        height: 26px;
        margin-right: 19px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../images/logos/star-li.png);
    }

    .px-115-50 {
        padding: 115px 0 50px;
    }

    .px-140-48 {
        padding: 140px 0 48px;
    }

    .red-line {
        height: 2px;
        width: 100%;
        background-color: variables.$pretty-pink;
        position: relative;
        top: 22px;
    }
}