@use '../variables';

.home {

    // animations

    @keyframes slideInLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
    }

    @keyframes slideOutRight {
        0% {
            width: 100%;
        }
        100% {
            width: 20%;
        }
    }
    @keyframes slideOutLeft {
        0% {
            width: 100%;
        }
        100% {
            width: 20%;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    // normal classes

    .hero-title-top {
        animation: 2s ease 0s 1 slideInLeft;
    }

    .hero-title-bottom {
        animation: 2s ease 0s 1 slideInRight;
    }

    @mixin red-line {
        height: 4px;
        width: 100%;
        background-color: variables.$pretty-pink;
    }

    .hero-product-red {
        @include red-line();
        animation: 1s ease 1.5s 1 slideOutRight;
    }
    .hero-designer-red {
        @include red-line();
        animation: 1s ease 1.5s 1 slideOutLeft;
    }

    .hero-line-position {
        position: absolute;
        z-index: 40;
    }
    
    .hero-text-position { 
        position: relative;
        z-index: 50;
    }

    .hero-subtitle {
        opacity: 0;
        animation: 1s linear 1.5s 1 fadeIn;
    }

    // hero lettering

    @mixin letter {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 182px;
        margin-right: 10px;
    }

    .c {
        @include letter;
        background-image: url('../../images/hero-title/c.png');
        width: 175px;
    }
    .d {
        @include letter;
        background-image: url('../../images/hero-title/d.png');
        width: 152px; 
    }
    .e {
        @include letter;
        background-image: url('../../images/hero-title/e.png');
        width: 101px;
    }
    .g {
        @include letter;
        background-image: url('../../images/hero-title/g.png');
        width: 185px;
    }
    .i {
        @include letter;
        background-image: url('../../images/hero-title/i.png');
        width: 18px;
    }
    .n {
        @include letter;
        background-image: url('../../images/hero-title/n.png');
        width: 145px;
    }
    .o {
        @include letter;
        background-image: url('../../images/hero-title/o.png');
        width: 182px;
    }
    .p {
        @include letter;
        background-image: url('../../images/hero-title/p.png');
        width: 120px;
    }
    .r {
        @include letter;
        background-image: url('../../images/hero-title/r.png');
        width: 120px;
    }
    .s {
        @include letter;
        background-image: url('../../images/hero-title/s.png');
        width: 106px;
    }
    .t {
        @include letter;
        background-image: url('../../images/hero-title/t.png');
        width: 100px;
    }
    .u {
        @include letter;
        background-image: url('../../images/hero-title/u.png');
        width: 120px; 
    }
    .c-inverted {
        @include letter;
        background-image: url('../../images/hero-title/c-inverted.png');
        width: 175px;
    }
    .d-inverted {
        @include letter;
        background-image: url('../../images/hero-title/d-inverted.png');
        width: 152px;
    }
    .e-inverted {
        @include letter;
        background-image: url('../../images/hero-title/e-inverted.png');
        width: 101px;
    }
    .g-inverted {
        @include letter;
        background-image: url('../../images/hero-title/g-inverted.png');
        width: 185px;
    }
    .i-inverted {
        @include letter;
        background-image: url('../../images/hero-title/i-inverted.png');
        width: 18px;
    }
    .n-inverted {
        @include letter;
        background-image: url('../../images/hero-title/n-inverted.png');
        width: 145px;
    }
    .o-inverted {
        @include letter;
        background-image: url('../../images/hero-title/o-inverted.png');
        width: 182px;
    }
    .p-inverted {
        @include letter;
        background-image: url('../../images/hero-title/p-inverted.png');
        width: 120px;
    }
    .r-inverted {
        @include letter;
        background-image: url('../../images/hero-title/r-inverted.png');
        width: 120px;
    }
    .s-inverted {
        @include letter;
        background-image: url('../../images/hero-title/s-inverted.png');
        width: 106px;
    }
    .t-inverted {
        @include letter;
        background-image: url('../../images/hero-title/t-inverted.png');
        width: 100px;
    }
    .u-inverted {
        @include letter;
        background-image: url('../../images/hero-title/u-inverted.png');
        width: 120px;
    }

    #rotation {
        height: 268px;
        width: 268px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../images/logos/rotation.png');
        animation: rotation 15s infinite linear;
    }

    // rotating NYC

    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }

    .rotation-text {
        position: absolute;
    }

    .home-first-arrow {
        margin: 78px 0 194px;
    }

    .home-second-arrow {
        margin: 106px 0 86px;
    }

    // custom UL

    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    .star-li {
        width: 26px;
        height: 26px;
        margin-right: 19px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../images/logos/star-li.png);
    }

}