@use 'variables';

// BREAKPOINTS
$breakpoints: (
  'mobile':  ( max-width:  767px ),
  'tablet': ( max-width:  1023px ),
  'large-tablet':  ( max-width: 1439px ),
  'desktop': ( max-width:  1920 )
) !default;

// (from https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/)
@mixin breakpoint($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

/*
- desktop-first design
- size indicated in breakpoint means "this width and down"
- ex. breakpoint(mobile) { color: red } means 
    "on screens with a width of 767px and down, color is red"
*/


// HELPER CLASSES

.text-red {
    color: variables.$pretty-pink;
}

.text-white {
    color: variables.$white;
}

.text-black {
    color: variables.$black;
}

.bg-black {
    background-color: variables.$black;
}

.bg-white {
    background-color: variables.$white;
}

.flex {
    display: flex;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-start {
    justify-content: start;
}

.flex-justify-end {
    justify-content: end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.my-64-32 {
    margin: 64px 0 32px;
}

.py-72-48 {
    padding: 72px 0 48px;
}

.mr-64 {
    margin-right: 64px;
}

.mr-24 {
    margin-right: 24px;
}

.mb-54 {
    margin-bottom: 54px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-28 {
    margin-top: 28px;
}

.my-20 {
    margin: 20px 0 20px;
}

.my-120-130 {
    margin: 120px 0 130px;
}

.pl-0 {
    padding-left: 0;
}

.mb-12 {
    margin-bottom: 12px;
}

.p-0 {
    padding: 0;
}