@import "~bootstrap/scss/bootstrap";


// COLORS
$pretty-pink: #DE354C;
$off-white: #F3F3F3;
$black: #0D1D21;
$white: #FFF;


// FONTS
@import url("https://use.typekit.net/bvm5ave.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin avant-garde-gothic-pro {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-weight: 300;
}

@mixin avant-garde-gothic-pro-medium {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-weight: 500;
}

@mixin inter-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


// BREAKPOINTS
$breakpoints: (
  'mobile':  ( max-width:  767px ),
  'tablet': ( max-width:  1023px ),
  'large-tablet':  ( max-width: 1439px ),
  'desktop': ( max-width:  1920 )
) !default;

// (from https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/)
@mixin breakpoint($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

/*
- desktop-first design
- size indicated in breakpoint means "this width and down"
- ex. breakpoint(mobile) { color: red } means 
    "on screens with a width of 767px and down, color is red"
*/


// TYPOGRAPHY
h1, .h1 {
    font-size: 80px;
    line-height: 92px;
    @include avant-garde-gothic-pro();
    @include breakpoint('mobile') {
        font-size: 64px;
        line-height: 74px;
    }
}

h2, .h2 {
    font-size: 40px;
    line-height: 46px;
    @include avant-garde-gothic-pro();
}

h3, .h3 {
    font-size: 28px;
    line-height: 33px;
    @include avant-garde-gothic-pro();
}

h4, .h4 {
    font-size: 20px;
    line-height: 23px;
    @include avant-garde-gothic-pro-medium();
}

.quote-text {
    font-size: 18px;
    line-height: 27px;
    @include inter-regular();
}

.body-text {
    font-size: 16px;
    line-height: 24px;
    @include inter-regular();
}

.small-text {
    font-size: 16px;
    line-height: 21px;
    @include inter-regular();
}

.text-red {
    color: $pretty-pink;
}

.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}