// FONTS

@use 'variables';

@import url("https://use.typekit.net/bvm5ave.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@mixin avant-garde-gothic-pro {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-weight: 300;
}

@mixin avant-garde-gothic-pro-medium {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-weight: 500;
}

@mixin inter-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

@mixin inter-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}


// TYPOGRAPHY CLASSES

h1, .h1 {
    font-size: 80px;
    line-height: 92px;
    @include avant-garde-gothic-pro();
    @include breakpoint('mobile') {
        font-size: 64px;
        line-height: 74px;
    }
}

h2, .h2 {
    font-size: 40px;
    line-height: 46px;
    @include avant-garde-gothic-pro();
}

h3, .h3 {
    font-size: 28px;
    line-height: 33px;
    @include avant-garde-gothic-pro();
}

h4, .h4 {
    font-size: 20px;
    line-height: 23px;
    @include avant-garde-gothic-pro-medium();
}

h5, .h5 {
    font-size: 16px;
    line-height: 18px;
    @include avant-garde-gothic-pro-medium();
}

.quote-text {
    font-size: 18px;
    line-height: 27px;
    @include inter-regular();
}

.inter-large-bold {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    @include inter-bold();
}

.inter-large {
    font-size: 18px;
    line-height: 27px;
    @include inter-regular();
}

.inter-paragraph {
    font-size: 16px;
    line-height: 24px;
    @include inter-regular();
}

.inter-small {
    font-size: 14px;
    line-height: 21px;
    @include inter-regular();
}

.eyebrow-text {
    font-size: 12px;
    line-height: 28px;
    font-weight: 600;
    @include inter-regular();
}

.inline-number-font {
    font-size: 18px;
    line-height: 21.6px;
    @include avant-garde-gothic-pro(); 
}

.heels {
    background-color: variables.$blue;
}